# Minecraft Python API
# Install with: pip install mcpi

# Note: You may also need to install the Minecraft Python API manually
# Download from: https://github.com/martinohanlon/mcpi
# Or use: pip install mcpi

# Alternative installation methods:
# 1. Clone the repository: git clone https://github.com/martinohanlon/mcpi.git
# 2. Install: cd mcpi && python setup.py install

# For Raspberry Pi Minecraft:
# sudo apt-get install python3-mcpi
